
@import './util.scss';

html,body,div,h1,h2,h3,h4,h5,h6,p,img,ul,li,input,span,a,i{
  padding:0;
  margin: 0
}
 
html{
  font-family: "microsoft yahei", "HanHei SC","PingHei","PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif
}
img{
  border: none;
  vertical-align: top;
  width: 100%;
}
  
a{
  text-decoration: none
}

input,textarea,button{
  outline: none;
  -webkit-appearance: none
}


textarea{
   resize: none;
  overflow: hidden
}
 

li{
  list-style: none
}
*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent
}


.clear{
  zoom: 1
}
.clear:after{
  content: "";
  display: block;
  clear: both
}
 
.fl,.pull-left{
  float: left
}
.fr,.pull-right{
  float: right
}
.section{
  width: 100%;
  position: relative
}

html,body,div,h1,h2,h3,h4,h5,h6,p,img,ul,li,input,span,a,i{
  padding: 0;
  margin: 0
}
  
html, body{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


html{
  font-size: -webkit-calc(10vw); 
  font-size: calc(10vw)
}
 


body{
  @include f14px;
  width: 10rem;
  margin: 0 auto;
  position: relative;
  background-color: #F5F5F5;

.app-init{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}


.scroll-box{
  -webkit-overflow-scrolling : touch;
  overflow-y: auto;
}


.scroll-box-x{
   -webkit-overflow-scrolling : touch;
   overflow-x: auto;
}
 
/* 路由动画 */
.slide-go-enter-active,.slide-go-leave-active,.slide-back-enter-active,.slide-back-leave-active{
  @include ani01-transform
}


.slide-go-leave{
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


.slide-go-leave-to{
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}



.slide-go-enter{
   -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0); 
}


.slide-go-enter-to{
    -webkit-transform: translate3d(0%,0,0);
  transform: translate3d(0%,0,0);
}


.slide-back-leave{
    -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


.slide-back-leave-to{
    -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}



.slide-back-enter{
    -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}


.slide-back-enter-to{
    -webkit-transform: translate3d(0%,0,0);
  transform: translate3d(0%,0,0);
}




  .footer{
    width:100%;
    height:$footerHeight;
    position:absolute;
    bottom: 0;
    left:0;
    z-index: 400;
    background-color:#fff;
    @include box-sizing;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    box-shadow: 0 3px 14px 2px rgba(0,0,0,.12);
    -webkit-box-shadow:0 3px 14px 2px rgba(0,0,0,.12);
    .footer-item{
      display:flex;
      flex-direction:column;
      align-items:center;
      color:#999;
      .icon{
        font-size:0.6rem;
      }

    
    
      
    }
     .shop-car{
        position: relative;
        .num{
          position: absolute;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          line-height: 0.5rem;
          text-align: center;
          background-color: #f95c52;
          color: #fff;
          right: -0.38rem;
          top: 0.05rem;
    }
      }
    .router-link-active{
        color:#ff6700;
      }
  }

}















.footer-hack:after{
    content:'';
    display:block;
    width:100%;
    padding-bottom:1.44rem;
  } 






